<div class="list__wrapper" >
  <div class="list">
    <div class="list__header">
      <h2 *ngIf="true"
      contenteditable="true"
      (click)="switchToBoard()"
      >{{title}}
    </h2>
      <input *ngIf="false" value={{title}}>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="openDialogDelete()" mat-menu-item>
          <span>Delete</span>
        </button>
        <button (click)="openDialogUpdate()" mat-menu-item>
          <span>Update</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
