<div class="list__wrapper" dragula="COLUMNS">
  <div class="list">
    <div class="list__header">
      <h2 class="columnTitle" *ngIf="editMode;
       else editTitle" contenteditable="false" (click)="switchMode()">
        {{columnTitle}}
      </h2>
      <button *ngIf="editMode" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <ng-template #editTitle>
        <form [formGroup]="columnForm">
          <div>
            <input placeholder={{columnTitle}} [(ngModel)]="actualColumnTitle" formControlName="title">
            <p class="validate__error" *ngIf="columnForm.get('title').dirty && columnForm.get('title').errors?.required">
              Please enter a title<br />
            </p>
          </div>
          <button (click)=" updateColumn()" [disabled]="columnForm.invalid">Submit</button>
          <button (click)="switchMode()">Cancel</button>
        </form>
      </ng-template>
      <mat-menu #menu="matMenu">
        <button (click)="openDialog()" mat-menu-item>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
    <div class="list__card-container">
      <app-task-card dragula="COLUMNS" *ngFor="let item of tasks"></app-task-card>
    </div>
    <p class="createCard" (click)="createTask()">Create card</p>
  </div>
</div>
