.login {
    &__form {
      padding: 20px;
      margin: 0 auto;
      max-width: 300px;
      border-radius: 5px;
      background-color: #e5e5e5;
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
    &__input,
    &__password {
      width: 93%;
    }
  
    &__password-wrapper {
      margin-top: 10px;
    }
  
    &__btn {
      margin-top: 40px;
      margin-left: 10px;
      width: 75px;
      height: 24px;
      background-color: #433147;
      border: none;
      
      outline: none;
      border-radius: 3px;
      box-shadow: 2px 0px 4px #433147;
      font-size: 12px;
      color: #ffffff;
      cursor: pointer;
      &:hover {
        background-color: #7b5a82;
      }
      float: right;
    }
  }
  
  span {
    display: block;
    font-size: 12px;
    padding: 0 0 5px 5px;
  }
  input {
    color: #000000;
    border: none;
    background-color: #efefef;
    height: 30px;
    padding: 0 10px;
  }