<div class="header">
  <div class="logo">Project management</div>
  <button (click)="goToHomePage()">HomePage</button>
  <div *ngIf="!userLogin;else succes">
    <button class="admin-btn"
    (click)="switchAuthPage('authorization')"
    [ngClass]="{'admin-btn_active': checkPage('authorization')}">
    log in
  </button>
    <button class="admin-btn"
    (click)="switchAuthPage('registration')"
    [ngClass]="{'admin-btn_active': checkPage('registration')}">
    sign up
  </button>
  </div>
  <ng-template #succes>
    <div class="login-container">
      <div class="login">E-mail: {{userLogin}}</div>
      <button class="logout-btn" (click)="deleteUser()">delete</button>
      <button class="logout-btn" (click)="logout()">logout</button>
    </div>
  </ng-template>

</div>
