<section class="main-section">
  <div class="main-title">
    <h1>Project management</h1>
    <p>
      Collaborate, manage projects, and reach new productivity peaks. From high
      rises to the home office, the way your team works is unique—accomplish it
      all with Project management.
    </p>
  </div>
  <div class="main-tutorial">
    <h2>It’s more than work. It’s a way of working together.</h2>
    <p>
      Start with a Project managemen board, lists, and cards. Customize and
      expand with more features as your teamwork grows. Manage projects,
      organize tasks, and build team spirit—all in one place.
    </p>
    <div class="main-tutorial__img">
      <img src="../../assets/board.png" alt="tutorial" />
    </div>
  </div>
  <div class="main-team">
    <h3>OUR TEAM</h3>
    <div class="main-content__team-info">
      <div class="main-content__team-info-item">
        <h2>Aleksandr</h2>
        <div
          class="team-info-item__photo-aleksandr team-info-item__photo"
        ></div>
        <p>Frontend developer</p>
      </div>
      <div class="main-content__team-info-item">
        <h2>Igor</h2>
        <div class="team-info-item__photo-igor team-info-item__photo"></div>
        <p>Frontend developer</p>
      </div>
      <div class="main-content__team-info-item">
        <h2>Semyon</h2>
        <div class="team-info-item__photo-semyon team-info-item__photo"></div>
        <p>Frontend developer</p>
      </div>
    </div>
  </div>
</section>
