<section class="main-section">
  <div class="main-title">
    <h1>{{ 'HOME.TITLE' | translate }}</h1>
    <p>
      {{ 'HOME.TITLEP' | translate }}
    </p>
  </div>
  <div class="main-tutorial">
    <h2>{{ 'HOME.TITLE_TUTORIAL' | translate }}</h2>
    <p>
      {{ 'HOME.TUTORIAL_P' | translate }}
    </p>
    <div class="main-tutorial__img">
      <img src="../../assets/board.png" alt="tutorial" />
    </div>
  </div>
  <div class="main-team">
    <h3>{{ 'HOME.TEAM' | translate }}</h3>
    <div class="main-content__team-info">
      <div class="main-content__team-info-item">
        <h2>{{ 'HOME.ALEKSANDR' | translate }}</h2>
        <div
          class="team-info-item__photo-aleksandr team-info-item__photo"
        ></div>
        <p>{{ 'HOME.DEVELOPER' | translate }}</p>
      </div>
      <div class="main-content__team-info-item">
        <h2>{{ 'HOME.IGOR' | translate }}</h2>
        <div class="team-info-item__photo-igor team-info-item__photo"></div>
        <p>{{ 'HOME.DEVELOPER' | translate }}</p>
      </div>
      <div class="main-content__team-info-item">
        <h2>{{ 'HOME.SEMYON' | translate }}</h2>
        <div class="team-info-item__photo-semyon team-info-item__photo"></div>
        <p>{{ 'HOME.DEVELOPER' | translate }}</p>
      </div>
    </div>
  </div>
</section>
