<footer class='footer'>
    <div>
      <a href='https://rs.school/js' target='_blank' rel="noreferrer"><img class='footer__rs-logo footer__link' src="../../../../assets/rss.svg" alt="" /></a>
    </div>
    <div class='footer__list'>
      <a class='footer__list-item footer__link' href='https://github.com/igor2000xp' target='_blank' rel="noreferrer">igor2000xp</a>
      <a class='footer__list-item footer__link' href='https://github.com/Alexander-gMa' target='_blank' rel="noreferrer">Alexander-gMa</a>
      <a class='footer__list-item footer__link' href='https://github.com/sem-chehovich' target='_blank' rel="noreferrer">Sem-Chehovich</a>
    </div>
    <div>
      <p class="footer-p">2022</p>
    </div>
  </footer>
