<div class="login-card__wrapper">
  <div class="login-card">
    <form [formGroup]="editForm">

      <p class="login-title">Edit profile</p>
      <div class="login-card__container">
        <div class="login-card__el">
          <p class="input-name">Change name</p>
          <input #login class="form-control" formControlName="name" />
        </div>
        <div class="login-card__el">
          <p class="input-name">Change login</p>
          <input #login class="form-control" formControlName="email" />
          <div></div>
        </div>
        <div class="login-card__el">
          <p class="input-name">Change password</p>
          <input #password class="form-control" formControlName="pass">
          <div></div>
        </div>
      </div>
    </form>
    <div class="button-wrapper">
      <button class="delit-card__btn" (click)="openDialog()">
        <p class="login-card-btn__text">Delete</p>
      </button>
      <button class="back-card__btn" (click)=" back()">
        <p class="login-card-btn__text">Back</p>
      </button>
      <button class="login-card__btn" (click)="edit()">
        <p class="login-card-btn__text">Submit</p>
      </button>
    </div>
  </div>

</div>
