<div class="tools">
  <div class="tools-menu">
    <div>
      <button class="back-btn" (click)="switchPage()">{{ 'TOOLSMENU.BACK' | translate }}</button>
      <button (click)="openColumn()" class="admin-btn">{{ 'TOOLSMENU.CREATE' | translate }}</button>
    </div>


    <div class="search-input">
      <form class="example-form" [formGroup]="adminForm">
        <mat-form-field class="example-full-width" appearance="fill">
          <input matInput
            type="search"
            placeholder="enter a task {{searchTitle}}"
            formControlName="searchString"
            #search
            (input)="searchValue(search.value)"
            (focus)="openOptions()"
          >
          <mat-icon class="search_icon" matSuffix (click)="searchValue(search.value)">search</mat-icon>
        </mat-form-field>
      </form>

      <div class="searchMode" *ngIf="toggleSearchingBlock">
        <section class="example-section">
          <label class="example-margin" style="font-weight: bold">{{ 'SEARCH.CHOOSE' | translate }} <br> {{ 'SEARCH.OPTION' | translate }}:</label>
          <mat-radio-group [(ngModel)]="labelPosition">
            <mat-radio-button
              class="example-margin"
              value="title"
              (change)="searchOption('title')"
            >{{ 'SEARCH.TITLE' | translate }}</mat-radio-button>
            <mat-radio-button
              class="example-margin"
              value="id"
              (change)="searchOption('id')"
            >id</mat-radio-button>
            <mat-radio-button
              class="example-margin"
              value="description"
              (change)="searchOption('description')"
            >{{ 'SEARCH.DESCRIPTION' | translate }}</mat-radio-button>
            <button
              class="back-btn back-btn-small example-margin"
              (click)="closeOptions()"
            >{{ 'SEARCH.CLOSE' | translate }}</button>
          </mat-radio-group>
        </section>
      </div>
    </div>
  </div>
</div>
