<div class="tools">
    <div class="tools-menu">
      <button (click)="openColumn()" class="admin-btn">Create Column</button>

      <div class="search-input">
        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Search field</mat-label>
            <input matInput type="search" placeholder="search, please" value=" ">
            <mat-icon matSuffix>search</mat-icon>
<!--            class="material-icons md-18"-->
          </mat-form-field>
        </form>
      </div>
    </div>

</div>
