<style>.mat-form-field-label{display:inline-block;top:-15px;text-align:left}</style>
<div class="tools">
    <div class="tools-menu">
      <button (click)="openColumn()" class="admin-btn">Create Column</button>

      <div class="search-input">
        <form class="example-form" [formGroup]="adminForm">
<!--          (ngSubmit)="handlerSubmit()"-->
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label class="mat-label-tag">Search field</mat-label>
            <input matInput type="search" placeholder="search, please" formControlName="searchString" (input)="handlerSubmit()">
            <mat-icon matSuffix>search</mat-icon>
<!--            class="material-icons md-18"-->

            <mat-error
              class="login-validate"
              *ngIf="adminForm!.get('searchString')?.invalid">
              <span *ngIf="adminForm!.get('searchString')?.hasError('required')"> {{validatorMessages.searchString.required}} <br></span>
              <span *ngIf="adminForm!.get('searchString')?.hasError('minlength')"> {{validatorMessages.searchString.minLength}} <br></span>
              <span *ngIf="adminForm!.get('searchString')?.hasError('maxlength')"> {{validatorMessages.searchString.maxLength}} <br></span>
            </mat-error>
          </mat-form-field>
        </form>
      </div>
    </div>

</div>
